*.txt
tmp*
anagram_counting.py
incognito.py
modular_arithmetic.py
polish.py
reversing_roads.py
secret_santa.py
triangle_ornaments.py
splat.py
prime_sieve.py
kattis*
time_travelling_temperatures.py
string.py
hidingplaces.py
flipfive.py
dream.py
__pycache__/
calories.py
moviecollection.py
wheresmyinternet.py
basicinterpreter.py
vegetables.py
setstack.py