*.txt
tmp*
*.pyc
convexhull.py
distinctivecharacter.py
outing.py
horrorfilmnight.py
turtlemaster.py
teacherevaluation.py
allaboutthatbase.py
bobby.py
cross.py
prime_test.py
prime_test2.py
primereduction.py
primesieve.py
primes.py
ultraquicksort.py
bard.py
rot.py
lcmpairsum.py
palindromesubstring.py
bank.py
stringmatching.py
bigtruck.py
ith.py
automatictrading.py
compiler.py
ones.py
checkingforcorrectness.py
coast.py
moneymatters.py
virtualfriends.py
wheresmyinternet.py
bst.py
unionfind.py
almostunionfind.py
grid.py
tautology.py
modular_arithmetic.py
reversing_roads.py
secret_santa.py
triangle_ornaments.py
prime_sieve.py
kattis*
string.py
hidingplaces.py
flipfive.py
dream.py
__pycache__/
calories.py
moviecollection.py
basicinterpreter.py
vegetables.py
evenodd.py
