*.txt
tmp*
compiler.py
ones.py
checkingforcorrectness.py
coast.py
moneymatters.py
virtualfriends.py
wheresmyinternet.py
bst.py
unionfind.py
almostunionfind.py
grid.py
tautology.py
modular_arithmetic.py
polish.py
reversing_roads.py
secret_santa.py
triangle_ornaments.py
prime_sieve.py
kattis*
string.py
hidingplaces.py
flipfive.py
dream.py
__pycache__/
calories.py
moviecollection.py
basicinterpreter.py
vegetables.py
countingstars.py
evenodd.py
